* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.box {
    width: 200px;
    height: 150px;
    border: 2px solid white;
    background-color: blue;
    cursor: pointer;
}